
      #sendbtn {
        background-color: blue;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
      }
      .btn {
        border: none;
        border-radius: 5px;
        background-color: rgb(218, 218, 250);
        padding: 10px 30px;
        margin: 0px 10px;
      }
      .sentmsgs {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
      }
      #date {
        text-align: center;
        font-size: 12px;
      }
      .des {
        background-color: rgb(230, 227, 227);
        padding: 10px;
        border-radius: 5px;
        
      }
      .rec{
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(218, 218, 250);
        margin-left: 10px;
        
      }
      .chat_collapse {
        position: fixed;
        bottom: 0px;
        right: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      }
      .collapsible {
        background-color:blue;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 500px;
        text-align: left;
        outline: none;
        border-radius: 10px 10px 0px 0px;
        border: 3px solid white;
        border-bottom: none;
      }
      /* #content{
            max-height: 0px;
            
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        } */
      #chat_block {
        width: 500px;
        background: white;

        overflow: auto;
        scrollbar-width: none;
        height: max-content;
        transition: max-height 0.2s ease-out;
            
        
      }
      #chat_block1 {
        width: 500px;
        background: white;

        overflow: auto;
        scrollbar-width: none;
        height: max-content;
        transition: max-height 0.2s ease-out;
     
        
      }
      .outer_container{
        min-height: 500px;
        bottom: 0%;
        position: relative;
        
      }
      .chat_container{
        max-height: 500px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
       
        hyphens: auto;
      
      }
      .chat_container::-webkit-scrollbar{
        display: none;
      }
      input{
        width: 350px;
        height: 28px;
      }
      
   