
.top-section {
  display: flex;
  justify-content: flex-end;

  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
  padding: 15px 0px;
  z-index: 2;
}
#right_top_section {
  margin-right: 50px;
}
#timer {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 22px;
}
#time_tracking_form {

  position: absolute;
  top: 65px;
  right: 40px;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 20px;
  background-color: white; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 60px;
}
form > input {
  width: 250px;
  height: 40px;
  margin-top: 10px;
}
#task_details {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-top: 30px;
  padding: 10px 0px;
}
form > label {
  font-size: 20px;
}
th,
td {
  padding: 5px 50px;
}
table,
th,
td {
  border: 1px solid rgb(201, 197, 197);
  border-collapse: collapse;
}

