.top-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  line-height: 14px;
}
.top-section > h1 {
  font-family: "Amerigo BT", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: #4c525a;
}
.top-section > h3 {
  font-family: "ProximaNova-Regular", sans-serif;
  color: #4c525a;
  font-size: 22px;
}
.top-section > p {
  font-family: "ProximaNova", sans-serif;
  margin-top: -10px;
  font-size: 14px;
  color: #7e7f80;
}

.mid-section {
  font-family: "ProximaNova-Regular", sans-serif;

  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.mid-section > div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-bottom: 50px;
}
.image_div {
  display: flex;
  margin-top: -80px;
}

.review_images > img {
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  width: 80%;
  height: 100%;
}
.icon_img {
  margin-top: -120px;
  flex-direction: column;
  align-self: flex-end;
  padding-left: 10px;
}
.icon_img_normal {
  padding-top: 150px;
  padding-left: 30px;
}
.review_content {
  padding: 10px 30px;
}
#image_1,
#image_2 {
  margin-top: 150px;
}
.review_content > h4 {
  font-size: 20px;
  color: #4c525a;
  line-height: 36px;
}
#post_1,
#post_2 {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 20px;
  color: #919394;
  margin-top: -20px;
}
.review_content > h3 {
  font-family: "ProximaNova", sans-serif;
  font-size: 20px;
  font-weight: 550;
  color: #4c525a;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .review_content > h4 {
    font-size: 18px;
    line-height: 26px;
  }
  #post_1,
  #post_2 {
    font-size: 18px;
  }
  .review_content > h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .review_content > h4 {
    font-size: 18px;
    line-height: 26px;
  }
  #post_1,
  #post_2 {
    font-size: 18px;
  }
  .review_content > h3 {
    font-size: 18px;
  }
  .mid-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
