* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}

#navbar{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
  padding-bottom: 20px;
}
 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}

nav > div:first-child img {
  width: 150px;
  margin-left: 80px;
}

nav > div:nth-child(2) {
  display: flex;
  margin-left: 50px;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav a {
  color: #4c4d5f;
}

nav > div ul {
  float: right;
  list-style: none;
  margin-right: 0px;
  position: relative;
  background-color: #ffff;
  z-index: 3;
}

nav ul li ul li {
  margin-top: 20px;
}

nav ul li ul:last-child img {
  width: 15px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
}

nav ul ul {
  position: absolute;
  top: 45px;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 20px;
}

nav ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0;
  width: 200px;
  float: none;
  display: list-item;
}

nav ul li ul {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav ul li:first-child ul li {
  padding-left: 35px;
  width: 300px;
  margin-top: 30px;
}
nav ul li:first-child ul li a {
  font-weight: bold;
  font-size: 20px;
  font-family: "Amerigo-bt roman opt", sans-serif;
}

nav p {
  width: 253px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 1.5;
  color: #4c4d5f;
  margin-bottom: 15px;
  margin-top: 5px;
}

#dropdown > ul > li:nth-child(2) ul > li a {
  font-size: 14px;
}
#dropdown > ul > li:nth-child(2) ul > li {
  display: flex;
  gap: 10px;
  width: 280px;
  padding-left: 35px;
}
#dropdown > ul > li:nth-child(2) ul > li:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

nav button:first-child {
  background-color: transparent;
  border: 1px solid #00b289;
  color: #00b289;
  margin-right: 15px;
}

nav button:first-child:hover {
  color: white;
  background-color: #00b289;
}

nav button:last-child {
  background-color: #00b289;
  border: none;
  color: #ffff;
  width: 120px;
  font-weight: 600;
}

nav button:last-child:hover {
  background-color: #0d9676;
}


.arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid rgb(82, 80, 80);
  border-right: 1px solid rgb(82, 80, 80);
  transform: rotate(135deg);
  margin-top: 15px;
  margin-left: 9px;
}

#dropdown > ul > li > a {
  padding: 0 20px;
}


.container {
  display: inline-block;
  cursor: pointer;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#dasBtn{
  /* display: none; */
}

@media(max-width:1000px){
  #btn,#dropdown{
    opacity: 0;
    visibility: hidden;
  }

  .container {
    display: block;
    margin-right: 30px;
  }
  /* #dasBtn{
    display: none;
  } */
}
