body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4c525a;
}

#dasBtn {
  display: none;
}
#shapeblue {
  height: 50vw;

  position: absolute;
  bottom: auto;
  z-index: -1;
  display: block;
  width: 76vw;
  border-radius: 6.6vw;
  background-color: #f2faff;
  transform: rotate(-23deg);

  top: -25%;
  right: 92px;
  overflow: hidden;

  display: block;
}
#top_section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.main_part {
  padding-top: 110px;
  padding-bottom: 40px;
  position: relative;
}

.top1.pad {
  position: relative;
  z-index: 2;
}
.pad {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.cont {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}
.pricing {
  display: flex;
  width: 100%;
  margin-top: 4%;
  margin-bottom: -25px;
  padding-bottom: -25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  max-width: 36rem;
}
.heading {
  font-weight: 400;
  font-family: "Amerigo-bt roman opt", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
}
#togglebtn {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#Month {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.22px;
  margin-right: 15px;
}
#year {
  position: relative;
  z-index: 2;
  opacity: 0.65;
  color: #4c4d5f;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.22px;
  margin-left: 15px;
}
#price_img {
  display: inline-block;
  position: absolute;
  left: auto;
  right: -9%;
  bottom: 15;
  margin-bottom: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 27px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01b289;
  transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #01b289;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(20px);
  transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card_part,
.yearly_part {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card_part > div {
  width: auto;
  padding: 2.1em 3em;
  align-items: center;
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}
.yearly_part > div {
  width: auto;
  padding: 2.1em 3em;
  align-items: center;
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}

.card_part > div h1 {
  margin-bottom: 20px;
}
.yearly_part > div h1 {
  margin-bottom: 20px;
}

.card_part h1 + p {
  margin-bottom: 20px;
}
.yearly_part h1 + p {
  margin-bottom: 20px;
}

.card1 {
  display: flex;
}
.card1 p {
  margin-top: 20px;
  font-size: 22px;
  margin-left: 10px;
}
.card1 > div {
  display: flex;
}

.card1 h1 {
  font-size: 45px;
}

.card1 span {
  font-size: 24px;
  margin-right: 10px;
}

.para {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.btn button {
  width: 100%;
  padding: 22px 25px;
  border-radius: 4px;
  background-color: #00b289;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
  border: none;
}

#frstBtn {
  margin-top: 180px;
}

#secbtn {
  margin-top: 132px;
}

#trdbth {
  margin-top: 30px;
}

#mid_head {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
}

#mid_part {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxpart1 {
  padding: 0 25px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(2 4 69 / 5%);
}
.boxpart1 > div > h2 {
  margin-bottom: 10px;
}

.boxpart1 > div p {
  margin-bottom: 10px;
}

.boxpart1 > div a {
  text-decoration: none;
  color: #00b289;
}
.free {
  font-size: 32px;
  font-weight: 700;
}

.boxpart1 span {
  font-size: 18px;
  font-weight: 400;
}

#fr {
  font-size: 25px;
}

#ctadiv {
  position: relative;
  z-index: 1;
  padding: 3rem 2rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  border-radius: 8px;
  background-color: #f2faff;
  height: 220px;
  width: 60%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 170px;
}

#flexleft {
  width: 70%;
  text-align: center;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#lasttext {
  font-family: "Amerigo-bt roman opt";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.35rem;
  text-align: center;
  color: #4c525a;
  font-weight: 400;
  width: 60%;
}
#greentext {
  font-family: "Amerigo-bt roman opt";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  line-height: 130%;
  text-align: center;
  color: #01b289;
  font-weight: 400;
}
#btnmain {
  height: 50px;
  margin-top: 30px;
  margin-left: 20px;
}

#btnmain button {
  color: white;
  background-color: #00b289;
  border-radius: 7px;
  width: 170px;
  height: 50px;
  border: none;
}

.Bottom_part {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.bottom1 {
  width: 100%;
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
}
.bottomh2 {
  color: #00b289;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: "Proximanova opt", sans-serif;
}
.que1 {
  margin-right: 9%;
  margin-left: 9%;
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/59f05f389cd27200014f061e_icon-expand.png");
  background-position: 100% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Proximanova opt", sans-serif;
  color: #4c525a;
  font-weight: 700;
}
.que1:hover {
  color: #00b289;
}
.ans {
  margin-right: 9%;
  margin-left: 9%;
}
.anspara {
  margin-top: 0;
  margin-bottom: 10px;
  color: #4c4d5f;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

/*.blue_shape._12{
top: -88%;
right: -23%;
width: 90%;
height: 120%;
}
.blue_shape{
position: absolute;
 left: 0;
  bottom: auto;
  z-index: -1;
  display: block;
  border-radius: 6.6vw;
  background-color: #f2faff;
  transform: rotate(-23deg);
}*/
/* .top1.pad {
	position: relative;
    z-index: 2;
}
.pad{
padding-right: 2.5rem;
padding-left: 2.5rem;
}
.cont{
width: 100%;
max-width: 70rem;
margin-right: auto;
margin-left: auto;
}
.pricing{
display: flex;
width: 100%;
margin-top: 4%;
margin-bottom: -25px;
padding-bottom: -25px;
margin-right: auto;
margin-left: auto;
padding-right: 0;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
position: relative;
max-width: 36rem;
}
.heading{
	font-weight: 400;
	font-family: 'Amerigo-bt roman opt',sans-serif;
	font-size: 2.5rem;
line-height: 120%;
}
#togglebtn{
	position: relative;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
#Month{
	font-size: 17px;
font-weight: 600;
letter-spacing: 1.22px;
}
#year{
	position: relative;
    z-index: 2;
   opacity: .65;
   color: #4c4d5f;
   font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.22px;
}
img{
	display: inline-block;
	position: absolute;
   left: auto;
   right: -9%;
   bottom: 15;
   margin-bottom: 50px;
}
.switch{
	position: relative;
	display: inline-block;
	width: 47px;
	height: 27px;

}
.switch input{
	opacity: 0;
	width: 0;
	height: 0;
} */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01b289;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #01b289;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.card_part {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.yearly_part {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.yearly_part > div {
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgba(2, 4, 69, 0.08);
  border-radius: 4px;
  padding: 15% 10%;
}
.card_part > div {
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgba(2, 4, 69, 0.08);
  border-radius: 4px;
  padding: 15% 10%;
}
.card_head {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.4;
}
.cardp {
  max-width: 90%;
}
#cardp1 {
  width: 75%;
}
.card1 {
  width: 100%;
  margin-top: 20px;
  border-bottom: 2px solid #01b289;
}
.card1_2 {
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  font-size: 62px;
  line-height: 72px;
  font-weight: 600;
}
.doller {
  position: relative;
  top: 10px;
  margin-right: 10px;
  align-self: flex-start;
  font-size: 30px;
  line-height: 28px;
  font-weight: 400;
}
.card1_2_month {
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 1.4;
  margin: 0.9375rem;
}
.halfcard {
  margin-bottom: 25px;
  padding-top: 40px;
}
#poptag {
  text-align: right;
  margin-top: -30px;

  position: relative;
  top: 40px;
  right: -165px;
  transform: rotate(45deg);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 20px;
  width: 170px;
  overflow: hidden;

  background-color: #01b289;
}
.para {
  display: flex;

  padding-bottom: 18px;
  -webkit-box-align: center;
  align-items: center;
  color: #4c4d5f;
  font-size: 16px;
  line-height: 23px;
}
.paraimg {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -15px;
  display: inline-block;
  margin: 0.625rem;
  position: relative;
}
.para img {
  border: 0;
  max-width: 100%;
}
.para div {
  margin-left: 40px;
}
.startbtn {
  width: 80%;
  padding: 22px 25px;
  border-radius: 4px;
  background-color: #00b289;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.7px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border: 0;
  line-height: inherit;
  cursor: pointer;
}
#parabtn {
  margin-top: 130px;
  margin-bottom: 32px;
}
#parabtn1 {
  margin-top: 180px;
  margin-bottom: 30px;
}
#parabtn3 {
  margin-top: 130px;
  margin-bottom: 32px;
}
#parabtn2 {
  margin-top: 180px;
  margin-bottom: 30px;
}
#mid_part {
  width: 100%;
  margin: 5rem;
}
#mid_part1_2 {
  width: 100%;
  margin: 5rem;
}
.mid_head {
  margin-top: 20px;
  margin-bottom: 40px;
}
.mid_head h2 {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  line-height: 140%;
}
.box_part {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px 40px 5px;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.05);
}
.boxpart1 {
  width: 80%;
  max-width: 600px;
}
.coll {
  font-weight: 600;
  line-height: 1.4;
  font-size: 20px;
}
.bocpara {
  font-weight: 300;
  font-size: 1rem;
}
.freepart {
  width: 20%;
  padding-top: 36px;
  padding-bottom: 36px;
}
.freepart1 {
  text-align: center;
  font-size: 2rem;
  line-height: 140%;
  font-weight: 700;
}
.monthpart {
  text-align: center;
  font-size: 0.875rem;
  line-height: 133%;
  font-weight: 400;
}
.anchor {
  display: flex;
  font-weight: 600;
  color: #00b289;
  text-decoration: none;
  cursor: pointer;
}
.img2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  transform-style: preserve-3d;
  position: relative;
  top: 6px;
  margin-left: -45px;
  display: inline-block;
  max-width: 100%;

  color: #00b289;
  cursor: pointer;
}
.box2 {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.mediumdiv {
  width: 100%;
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
}
.flex1 {
  display: flex;
  padding: 4rem 3rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f2faff;
}
.wid {
  width: 70%;
}
.a2 {
  display: inline-block;
  padding: 15px 25px 13px;
  border-radius: 4px;
  transition: background-color 0.4s;
  text-align: center;
  letter-spacing: 0.07em;
  background-color: #3898ec;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.head {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  line-height: 130%;
}
.Bottom_part {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.bottom1 {
  width: 100%;
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
}
.bottomh2 {
  color: #00b289;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: "Proximanova opt", sans-serif;
}
.que1 {
  margin-right: 9%;
  margin-left: 9%;
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/59f05f389cd27200014f061e_icon-expand.png");
  background-position: 100% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Proximanova opt", sans-serif;
  color: #4c525a;
  font-weight: 700;
}
.que1:hover {
  color: #00b289;
}
.ans {
  margin-right: 9%;
  margin-left: 9%;
}
.anspara {
  margin-top: 0;
  margin-bottom: 10px;
  color: #4c4d5f;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
} */

/*Media query-*/
/* @media all and (min-width: 101px) and (max-width: 1000px) {
  .card_part{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: -10px;
	display: block;
	
}
.yearly_part{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: -10px;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(3, 1fr);
	}
.card_part>div{
	border: .3px solid rgba(2,4,69,.15);
	background-color: #fbfcff;
	box-shadow: 0 0 68px 0 rgba(2,4,69,.08);
	border-radius: 4px;
	padding: 15% 10%;
	margin-bottom: 30px;
}
.yearly_part>div{
 
	border: .3px solid rgba(2,4,69,.15);
	background-color: #fbfcff;
	box-shadow: 0 0 68px 0 rgba(2,4,69,.08);
	border-radius: 4px;
padding: 15% 10%;

}
#parabtn{
	margin-top: 20px;
	margin-bottom: 0px;
}
#parabtn1{
	margin-top: 20px;
	
}
#div1{
	
	height: 650px;
	margin-bottom: 0px;
}
#div2{
	height: 680px;
	margin-bottom: 0px;
}
#parabtn3{
	margin-top: 0px;
	
}
#parabtn2{
	margin-top: 0px;
margin-bottom: 0px;
padding-bottom: 0px;
	
}
#mid_part{
	width: 100%;
	margin: 5rem;
}
#mid_part1_2{
		width: 100%;
	margin: 5rem;
}
.box_part{
width: 80%;
height: 220px;

margin: auto;
margin-top: 20px;
margin-left: -40px;
margin-bottom: 10px;

display: grid;
grid-template-rows: repeat(3, 1fr);
grid-template-areas: 
"a"
"b";
border-radius: 8px;
background-color: #fff;
box-shadow: 0 0 60px 0 rgba(2,4,69,.05);
}
.boxpart1{
	width: 80%;
	margin-top: -20px;
grid-area: b;
}

.freepart{
	width: 20%;
padding-top: 20px;
grid-area: a;
}
.bocpara{
	font-weight: 300;
	font-size: 0.9rem;
	width: 290px;
}
.mid_head h2{
	font-weight: 100;
	margin-left: -50px;
	text-align: center;
	width: auto;
	font-size: 1.4rem;
  line-height: 140%;
}
#mid_part{
	width: 80%;
	align-items: center;
	margin: 5rem;

}
#mid_part1_2{
		width: 80%;
		align-items: center;
	margin: 5rem;
}
  .flex1{
	display: block;
padding: 4rem 3rem;
align-items: center;
border-radius: 8px;
background-color: #f2faff;
}
.head{
	margin-top: 0;
margin-bottom: 0;
font-size: 1.75rem;
line-height: 130%;
}
.bottomh2{
color: #00b289;
	text-align: center;
	margin-top: 20px;
margin-bottom: 10px;
font-size: 25px;
line-height: 38px;
font-weight: 700;
font-family: 'Proximanova opt',sans-serif;
}

.que1{
	margin-right: 9%;
margin-left: 9%;
background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/59f05f389cd27200014f061e_icon-expand.png");
background-position: 100% 50%;
background-size: auto 20px;
background-repeat: no-repeat;
background-attachment: scroll;
font-size: 23px;
line-height: 30px;
cursor: pointer;
margin-top: 30px;
margin-bottom: 10px;
font-family: 'Proximanova opt',sans-serif;
color: #4c525a;
font-weight: 700;
}
.pricing{
display: block;
width: 100%;
margin-top: 4%;
margin-bottom: -25px;
padding-bottom: -25px;
margin-right: auto;
margin-left: auto;

align-items: center;
position: relative;
max-width: 36rem;
}
.heading{
	margin-top: -70px;
	margin-bottom: 70px;
	text-align: left;
	font-weight: 400;
	font-family: 'Amerigo-bt roman opt',sans-serif;
	font-size: 1.5rem;
line-height: 120%;
}


#togglebtn{
	position: relative;
	display: flex;
	margin-left: 60px;
	-webkit-box-align: center;
	align-items: center;
	padding-bottom: 30px;
}
#Month{
	font-size: 17px;
font-weight: 600;
margin-right: 13px;
letter-spacing: 1.22px;
}
#year{
	position: relative;
    z-index: 2;
   opacity: .65;
   color: #4c4d5f;
   font-size: 17px;
   margin-left: 13px;
  font-weight: 600;
  letter-spacing: 1.22px;
}
img{
	display: inline-block;
	position: absolute;
   left: auto;
   right: -9%;
   bottom: 15;
   margin-bottom: 50px;
}
.coll{
	  font-weight: 600;
	  line-height: 1.4;
	  font-size: 15px;
}

      } */
