body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4c525a;
}

#dasBtn {
  display: none;
}
#shapeblue {
  height: 50vw;

  position: absolute;
  bottom: auto;
  z-index: -1;
  display: block;
  width: 76vw;
  border-radius: 6.6vw;
  background-color: #f2faff;
  transform: rotate(-23deg);

  top: -25%;
  right: 92px;
  overflow: hidden;

  display: block;
}
#top_section {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.main_part {
  padding-top: 110px;
  padding-bottom: 40px;
  position: relative;
}

.top1.pad {
  position: relative;
  z-index: 2;
}
.pad {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.cont {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}
.pricing {
  display: flex;
  width: 100%;
  margin-top: 4%;
  margin-bottom: -25px;
  padding-bottom: -25px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  max-width: 36rem;
}
.heading {
  font-weight: 400;
  font-family: "Amerigo-bt roman opt", sans-serif;
  font-size: 2.5rem;
  line-height: 120%;
}
#togglebtn {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
#Month {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.22px;
  margin-right: 15px;
}
#year {
  position: relative;
  z-index: 2;
  opacity: 0.65;
  color: #4c4d5f;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.22px;
  margin-left: 15px;
}
#price_img {
  display: inline-block;
  position: absolute;
  left: auto;
  right: -9%;
  bottom: 15;
  margin-bottom: 50px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 27px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01b289;
  transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #01b289;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(20px);
  transform: translateX(20px);
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card_part,
.yearly_part {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card_part > div {
  width: auto;
  padding: 2.1em 3em;
  align-items: center;
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}
.yearly_part > div {
  width: auto;
  padding: 2.1em 3em;
  align-items: center;
  border: 0.3px solid rgba(2, 4, 69, 0.15);
  border-radius: 4px;
  background-color: #fbfcff;
  box-shadow: 0 0 68px 0 rgb(2 4 69 / 8%);
}

.card_part > div h1 {
  margin-bottom: 20px;
}
.yearly_part > div h1 {
  margin-bottom: 20px;
}

.card_part h1 + p {
  margin-bottom: 20px;
}
.yearly_part h1 + p {
  margin-bottom: 20px;
}

.card1 {
  display: flex;
}
.card1 p {
  margin-top: 20px;
  font-size: 22px;
  margin-left: 10px;
}
.card1 > div {
  display: flex;
}

.card1 h1 {
  font-size: 45px;
}

.card1 span {
  font-size: 24px;
  margin-right: 10px;
}

.para {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.btn button {
  width: 100%;
  padding: 22px 25px;
  border-radius: 4px;
  background-color: #00b289;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.7px;
  color: white;
  text-decoration: none;
  border: none;
}

#frstBtn {
  margin-top: 180px;
}

#secbtn {
  margin-top: 132px;
}

#trdbth {
  margin-top: 30px;
}

#mid_head {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
}

#mid_part {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxpart1 {
  padding: 0 25px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(2 4 69 / 5%);
}
.boxpart1 > div > h2 {
  margin-bottom: 10px;
}

.boxpart1 > div p {
  margin-bottom: 10px;
}

.boxpart1 > div a {
  text-decoration: none;
  color: #00b289;
}
.free {
  font-size: 32px;
  font-weight: 700;
}

.boxpart1 span {
  font-size: 18px;
  font-weight: 400;
}

#fr {
  font-size: 25px;
}

#ctadiv {
  padding: 3rem 2rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  border-radius: 8px;
  background-color: #f2faff;
  height: 220px;
  width: 60%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 170px;
}

#flexleft {
  width: 70%;
  text-align: center;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#lasttext {
  font-family: "Amerigo-bt roman opt";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.35rem;
  text-align: center;
  color: #4c525a;
  font-weight: 400;
  width: 60%;
}
#greentext {
  font-family: "Amerigo-bt roman opt";
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  line-height: 130%;
  text-align: center;
  color: #01b289;
  font-weight: 400;
}
#btnmain {
  height: 50px;
  margin-top: 30px;
  margin-left: 20px;
}

#btnmain button {
  color: white;
  background-color: #00b289;
  border-radius: 7px;
  width: 170px;
  height: 50px;
  border: none;
}

.Bottom_part {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.bottom1 {
  width: 100%;
  max-width: 58rem;
  margin-right: auto;
  margin-left: auto;
}
.bottomh2 {
  color: #00b289;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: "Proximanova opt", sans-serif;
}
.que1 {
  margin-right: 9%;
  margin-left: 9%;
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/59f05f389cd27200014f061e_icon-expand.png");
  background-position: 100% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Proximanova opt", sans-serif;
  color: #4c525a;
  font-weight: 700;
}
.que1:hover {
  color: #00b289;
}
.ans {
  margin-right: 9%;
  margin-left: 9%;
}
.anspara {
  margin-top: 0;
  margin-bottom: 10px;
  color: #4c4d5f;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
}

/*Media query-*/
@media all and (min-width: 101px) and (max-width: 1000px) {
  .card_part,
  .yearly_part {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3,1fr);
    /* gap: 25px; */
  }

  #ctadiv {
    padding: 3rem 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-between;
    -webkit-box-align: center;
    border-radius: 8px;
    background-color: #f2faff;
    height: 420px;
    width: 80%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 170px;
  }

} 
